# Java
payment-backend/target/
payment-backend/.classpath
payment-backend/.project
payment-backend/.settings/
payment-backend/.idea/

# Node
payment-ui/node_modules/
payment-ui/.next/
payment-ui/out/
payment-ui/npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
